<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="base/layout :: comum-header"></head>
    <body class="sb-nav-fixed">
        <header th:replace="base/layout :: navbar"></header>
        
        <div id="layoutSidenav">
            <nav th:replace="base/layout :: menu"></nav>
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Cadastro de Tabela de Preço</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a th:href="@{/home}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/tabelaprecos}">Tabela de Preços</a></li>
                            <li class="breadcrumb-item active">Atualizar</li>
                        </ol>
                        
                        <div class="alert alert-danger" role="alert" th:if="${msgErro}">
                            <p th:text="${msgErro}"></p>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">Atualizar Tabela de Preço</div>
                            <div class="card-body">
                                <form class="needs-validation" novalidate action="#" th:action="@{/tabelaprecos/{id} (id = ${tabelaPreco.idTabela})}" th:object="${tabelaPreco}" method="post">
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="codigo">Código</label>
                                            <input type="text" class="form-control" th:field="*{idTabela}" id="codigo" placeholder="Código" readonly>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="nome">Nome</label>
                                            <input type="text" class="form-control" th:field="*{descricao}" id="nome" placeholder="Nome" autocomplete="off" >
                                            <span class="text-danger" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}" ></span>
                                        </div>
                                    </div>     
                                    
                                    <div class="form-group form-check">
                                      <input type="checkbox" class="form-check-input" id="inativo" th:field="*{inativo}">
                                      <label class="form-check-label" for="inativo">Inativo</label>
                                    </div>
                                    
                                    <input type="submit" value="Atualizar" class="btn btn-success">
                                    <a th:href="@{/tabelaprecos}" class="btn btn-light">Cancelar</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
                <footer th:replace="base/layout :: footer"></footer>
            </div>           
        </div>
        
        <div th:replace="base/layout :: body-scripts"></div>
        <!--<script src="/js/jquery.mask.min.js" type="text/javascript"></script>-->
        
    </body>
</html>
