<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="base/layout :: comum-header"></head>
    <body class="sb-nav-fixed">
        <header th:replace="base/layout :: navbar"></header>

        <div id="layoutSidenav">
            <nav th:replace="base/layout :: menu"></nav>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Cadastro de Cliente</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a th:href="@{/home}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/clientes}">Clientes</a></li>
                            <li class="breadcrumb-item active">Novo</li>
                        </ol>

                        <div class="alert alert-danger" role="alert" th:if="${msgErro}">
                            <p th:text="${msgErro}"></p>
                        </div>

                        <div class="card">
                            <div class="card-header">Novo Cliente</div>
                            <div class="card-body">
                                
                                <form class="needs-validation" novalidate action="#"  th:object="${cliente}" th:action="@{/clientes}" method="post" autocomplete="off">

                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Cliente</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="endereco-tab" data-toggle="tab" href="#endereco" role="tab" aria-controls="endereco" aria-selected="false">Endereço</a>
                                        </li>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="proprietario-tab" data-toggle="tab" href="#proprietario" role="tab" aria-controls="proprietario" aria-selected="false">Proprietário</a>
                                        </li>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="contato-tab" data-toggle="tab" href="#contato" role="tab" aria-controls="contato" aria-selected="false">Referência</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contato" role="tab" aria-controls="contact" aria-selected="false">Seguemento de Mercado</a>
                                        </li>
                                    </ul>

                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="text">Código</label>
                                                    <input type="text" class="form-control" th:field="*{codigo}" id="cnpj" placeholder="000/00"  readonly>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="razao">Razão Social</label>
                                                    <input type="text" class="form-control" th:field="*{razaoSocial}" id="razao" placeholder="Razão Social" required>
                                                    <span class="text-danger" th:if="${#fields.hasErrors('razaoSocial')}" th:errors="*{razaoSocial}"></span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="nome">Nome Fantasia</label>
                                                    <input type="text" class="form-control" th:field="*{nomeFantasia}" id="nome" placeholder="Nome" autocomplete="off">
                                                    <span class="text-danger" th:if="${#fields.hasErrors('nomeFantasia')}" th:errors="*{nomeFantasia}"></span>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="cnpj">CNPJ</label>
                                                    <input type="text" class="form-control" th:field="*{cnpj}" id="cnpj" placeholder="00.000.000/0000-00" data-mask="00.000.000/0000-00" autocomplete="off" required>
                                                    <span class="text-danger" th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}" ></span>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="ie">IE</label>
                                                    <input type="text" class="form-control" th:field="*{ie}" id="ie" placeholder="Inscrição Est." autocomplete="off">
                                                </div>

                                                <div class="form-group col-md-4">
                                                    <label for="nomecomprador">Nome Comprador</label>
                                                    <input type="text" class="form-control" th:field="*{nomeComprador}" id="nomeComprador" >
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="vendedor">Vendedor</label>
                                                    <select id="vendedor" class="form-control" th:field="*{vendedor}" >
                                                        <option value="">Selecione...</option>
                                                        <option th:each="ven : ${vendedores}" 
                                                                th:value="${ven.idPessoa}" th:text="${ven.nome}"></option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="text">Email</label>
                                                    <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="nome@email.com">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="regiao">Região</label>
                                                    <div class="input-group">
                                                        <select id="regiao" class="form-control" th:field="*{regiao}" >
                                                            <option value="">Selecione...</option>
                                                            <option th:each="reg : ${regioes}" 
                                                                    th:value="${reg}" th:text="${reg.nome}"></option>
                                                        </select>
                                                        <div class="input-group-append">
                                                            <!-- Botão para adicionar modal Região NOVA -->
                                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalRegiao" >
                                                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>                                                    
                                                </div>
                                            </div>

                                            <div class="form-row">                                            
                                                <div class="form-group col-md-2">
                                                    <label for="numeroLoja">Quantidade de lojas</label>
                                                    <input type="number" class="form-control" th:field="*{numeroLoja}" id="numeroLoja">
                                                </div>                                            
                                                <div class="form-group col-md-2">
                                                    <label for="dataFundacao">Data da Fundação</label>
                                                    <input type="text" class="form-control" th:field="*{dataFundacao}" id="dataFundacao">
                                                </div>                                             
                                                <div class="form-group col-md-2">
                                                    <label for="dataCadastro">Data do Cadastro</label>
                                                    <input type="text" class="form-control" th:field="*{dataCadastro}" id="dataCadastro" readonly>
                                                </div>                                            
                                                <div class="form-group col-md-2">
                                                    <label for="dataAlteracao">Última Atualização</label>
                                                    <input type="text" class="form-control" th:field="*{dataAlteracao}" id="dataAlteracao" readonly>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label for="dataUltimaCompra">Última Compra</label>
                                                    <input type="text" class="form-control" th:field="*{dataUltimaCompra}" id="dataUltimaCompra" readonly>
                                                </div>  
                                            </div> 
                                            <div class="form-row">                                            
                                                <div class="form-group col-md-4">
                                                    <label for="situacaoCliente">Situação Cliente</label>
                                                    <input type="text" class="form-control" th:field="*{situacaoCliente}" id="situacaoCliente" readonly>
                                                </div>                                            
                                                <div class="form-group col-md-4">
                                                    <label for="sede">Sede</label>
                                                    <select id="sede" class="form-control" th:field="*{sede}" >
                                                        <option th:each="tipoOpt : ${T(br.com.osmiki.sisrep.enumerador.SedeEnum).values()}" 
                                                                th:value="${tipoOpt}" th:text="${tipoOpt.descricao}"></option>
                                                    </select>
                                                </div>                                            
                                                <div class="form-group col-md-4">
                                                    <label for="debito">Débito</label>
                                                    <input type="text" class="form-control" th:field="*{debito}" id="debito" readonly>
                                                </div> 
                                            </div>
                                            <div class="row">
                                                <div class="form-group form-check col-md-3">
                                                    <input type="checkbox" class="form-check-input" id="filial" >
                                                    <label class="form-check-label" for="filial" th:value="*{filial}">Filial</label>
                                                </div>
                                                <div class="form-group form-check col-md-3">
                                                    <input type="checkbox" class="form-check-input" id="bloquearVenda">
                                                    <label class="form-check-label" for="bloquearVenda" th:value="*{bloquearVenda}">Bloquear Venda</label>
                                                </div>
                                                <div class="form-group form-check col-md-3">
                                                    <input type="checkbox" class="form-check-input" id="exclusivoVendedor">
                                                    <label class="form-check-label" for="exclusivoVendedor" th:value="*{exclusivoVendedor}">Vendedor Exclusivo</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group form-check col-md-3">
                                                    <input type="checkbox" class="form-check-input" id="inativo">
                                                    <label class="form-check-label" for="inativo" th:value="*{inativo}">Inativo</label>
                                                </div>
                                                <div class="form-group form-check col-md-3">
                                                    <input type="checkbox" class="form-check-input" id="enviarPedidoEmail">
                                                    <label class="form-check-label" for="enviarPedidoEmail" th:value="*{enviarPedidoEmail}">Enviar Pedido Por e-mail</label>
                                                </div>
                                                <div class="form-group form-check col-md-3">
                                                    <input type="checkbox" class="form-check-input" id="centroDistribuicao">
                                                    <label class="form-check-label" for="centroDistribuicao" th:value="*{centroDistribuicao}">Centro de Distribuição</label>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-10">
                                                    <label for="obs">Observação</label>
                                                    <textarea class="form-control" th:field="*{obs}" id="obs"></textarea>
                                                </div>  
                                            </div>
                                            <div class="card">
                                                <div class="card-header">Telefone</div>
                                                <div class="card-body">
                                                    <!-- Botão para acionar modal -->
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTelefone" >
                                                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                    </button>

                                                    <table class="table table-bordered table-striped" id="tableNumeros">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Tipo</th>
                                                                <th scope="col">DDD</th>
                                                                <th scope="col">Número</th>
                                                                <th scope="col">Observação</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr th:each="tel : ${cliente.telefones}">
                                                                <td th:text="${tel.tipoTelefone}"></td>
                                                                <td th:text="${tel.ddd}"></td>
                                                                <td th:text="${tel.numero}"></td>
                                                                <td th:text="${tel.obs}"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>   



                                        <div class="tab-pane fade" id="endereco" role="tabpanel" aria-labelledby="endereco-tab">

                                            <div class="card">
                                                <div class="card-header">Endereço</div>
                                                <div class="card-body">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="logradouro">CEP</label>
                                                            <input type="text" class="form-control" th:field="*{endereco.cep}" id="cep" placeholder="00000-000" data-mask="00000-000" autocomplete="off">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="logradouro">Logradouro</label>
                                                            <input type="text" class="form-control" th:field="*{endereco.logradouro}" id="logradouro" placeholder="Logradouro" autocomplete="off">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="text">Bairro</label>
                                                            <input type="text" class="form-control" th:field="*{endereco.bairro}" id="bairro" placeholder="Bairro">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="logradouro">Número</label>
                                                            <input type="text" class="form-control" th:field="*{endereco.numero}" id="numero" placeholder="Número" autocomplete="off">
                                                        </div>
                                                        <div class="form-group col-md-8">
                                                            <label for="complemento">Complemento</label>
                                                            <input type="text" class="form-control" th:field="*{endereco.complemento}" id="complemento" placeholder="Complemento" autocomplete="off">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="estado">Estado</label>
                                                            <select id="estado" class="form-control" th:field="*{endereco.municipio.estado}" onchange="findMunicipioByEstado(this.value)" >
                                                                <option value="0" selected>Escolher...</option>
                                                                <option th:each="estado : ${estados}" th:value="${estado.idEstado}" th:text="${estado.nome}">...</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="cidade" >Cidade</label>
                                                            <select id="cidade" class="form-control" th:field="*{endereco.municipio}" >
                                                                <option th:each="municipio : ${municipios}" th:value="${municipio.idMunicipio}" th:text="${municipio.nome}">...</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="enderecoEntrega" class="form-label">Endereço de Entrega</label>
                                                            <textarea class="form-control" id="enderecoEntrega" rows="3" th:field="*{endereco.enderecoEntrega}" autocomplete="off"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-6">
                                                            <label for="enderecoCobraca" class="form-label">Endereço de Cobrança</label>
                                                            <textarea class="form-control" id="enderecoCobranca" rows="3" th:field="*{endereco.enderecoCobranca}" autocomplete="off"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="proprietario" role="tabpanel" aria-labelledby="proprietario-tab">
                                            <div class="card">
                                                <div class="card-header">Endereço</div>
                                                <div class="card-body">
                                                    <div class="form-row">
                                                        <div class="col-md-3">
                                                            <label for="nomeProprietario" class="form-label">Nome:</label>
                                                            <input type="text" id="nomeProprietario" class="form-control" >
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label for="cpfProprietario" class="form-label">CPF:</label>
                                                            <input type="text" id="cpfProprietario" class="form-control" maxlength="14" placeholder="XXX.XXX.XXX-XX" >
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label for="dataNascimentoProprietario" class="form-label">Data de Nascimento:</label>
                                                            <input type="date" id="dataNascimentoProprietario" class="form-control" >
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label for="rgProprietario" class="form-label">RG:</label>
                                                            <input type="text" id="rgProprietario" class="form-control" >
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>




                                    <input type="submit" th:value="${cliente.idCliente == null}? 'Salvar': 'Atualizar'" class="btn btn-success">
                                    <a th:href="@{/clientes}" class="btn btn-light">Cancelar</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
                <footer th:replace="base/layout :: footer"></footer>
            </div>

            <!-- Modal TELEFONE -->
            <div class="modal fade" id="modalTelefone" tabindex="-1" role="dialog" aria-labelledby="telefoneModalLabel" aria-hidden="true">
                <form class="needs-validation" novalidate action="#" method="post" autocomplete="off">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cadastrar Telefone</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group row col-md-4">
                                    <label for="tipotelefone">Tipo Telefone</label>
                                    <select id="tipotelefone" class="form-control" >
                                        <option th:each="tipoOpt : ${T(br.com.osmiki.sisrep.enumerador.TipoTelefoneEnum).values()}" 
                                                th:value="${tipoOpt}" th:text="${tipoOpt.desc}"></option>
                                    </select>
                                </div>
                                <div class="form-group row col-md-8">
                                    <label for="numerotelefone">Número</label>
                                    <div class="form-row justify-content-between">
                                        <input type="text" class="form-control col-md-3" id="ddd" placeholder="DDD" data-mask="00" >
                                        <input type="text" class="form-control col-md-8" id="numerotelefone" placeholder="0000-0000" data-mask="0000-0000" >
                                    </div>
                                </div>
                                <div class="form-group row col-md-12">
                                    <label for="obsnumero">Observação</label>
                                    <input type="text" class="form-control" id="obsnumero" >
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn btn-success" data-dismiss="modal" onclick="loadTelefoneCliente()">Salvar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal REGIÃO -->
            <div class="modal fade" id="modalRegiao" tabindex="-1" role="dialog" aria-labelledby="regiaoModalLabel" aria-hidden="true">
                <form class="needs-validation" novalidate action="#" method="post" autocomplete="off">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Cadastrar Região</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="form-row">
                                    <div class="form-group col-md-10">
                                        <label for="nome">Nome Região</label>
                                        <input type="text" class="form-control" id="nomeRegiao" placeholder="Nome Região" autocomplete="off">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group form-check col-md-3">
                                        <input type="checkbox" class="form-check-input" id="regiaoInativo">
                                        <label class="form-check-label" for="regiaoInativo">Inativo</label>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn btn-success" data-dismiss="modal" onclick="newRegiao()">Salvar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>    

        <div th:replace="base/layout :: body-scripts"></div>
        <!--<script src="/js/jquery.mask.min.js" type="text/javascript"></script>-->

    </body>
</html>
